	<h3 class="my-4 border-bottom pb-1">Cart ({{totalitems}})</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>Qty</th>
				<th>Price</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for product_id,item in cart_data.items %}
			<tr>
				<td>
					<img src="/media/{{item.image}}" width="50" />
					<p><a href="/product/{{item.title|slugify}}/{{product_id}}">{{item.title}}</a></p>
				</td>
				<td>
					<input type="number" value="{{item.qty}}" style="vertical-align: bottom;" class="product-qty-{{product_id}}" />
					<button data-item="{{product_id}}" class="btn btn-sm btn-primary update-item"><i class="fa fa-sync"></i></button>
					<button class="btn btn-sm btn-danger delete-item" data-item="{{product_id}}"><i class="fa fa-trash"></i></button>
				</td>
				<td>$ {{item.price}}</td>
				<td>$ {% widthratio item.price 1 item.qty %}</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"></td>
				<th>Total</th>
				<th>$ {{total_amt}}</th>
			</tr>
			{% if totalitems %}
			<tr>
				<td colspan="4" align="right">
					<a href="#" class="btn btn-dark btn-sm">Checkout <i class="fa fa-long-arrow-alt-right"></i></a>
				</td>
			</tr>
			{% endif %}
		</tfoot>
	</table>