{% for product in data %}
<div class="col-lg-4 col-md-6 mb-4 product-box">
	<div class="card shadow">
	  <a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.productattribute_set.first.image}}" class="card-img-top" alt="{{product.title}}"></a>
	  <div class="card-body">
	    <h5 class="card-text"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h5>
	    <h6>$ {{product.productattribute_set.first.price}}</h6>
	  </div>
	  <div class="card-footer">
	  	<button class="btn btn-sm btn-primary"><i class="fa fa-shopping-cart"></i></button>
	  	<button class="btn btn-sm btn-danger"><i class="fa fa-heart"></i></button>
	  	<span class="float-right">
	  		4.5/5
	  		<i class="fa fa-star text-warning"></i>
	  	</span>
	  </div>
	</div>
</div>
{% endfor %}
			