{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Address Book <a href="{% url 'add-address' %}" class="float-right btn btn-sm btn-success"><i class="fa fa-plus"></i></a></h3>
	<div class="row">
		<div class="col-md-3">
			{% include 'user/user-sidebar.html' %}
		</div>
		<div class="col-md-9">
			{% if msg %}
			<p class="text-success">{{msg}}</p>
			{% endif %}
			<table class="table table-bordered">
				<form method="post">
					{% csrf_token %}
					{{form.as_table}}
					<tr>
						<td colspan="2">
							<input type="submit" value="Save" class="btn btn-primary" />
						</td>
					</tr>
				</form>
			</table>
		</div>
	</div>
</main>
{% endblock %}