{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Reviews Items</h3>
	<div class="row">
		<div class="col-md-3">
			{% include 'user/user-sidebar.html' %}
		</div>
		<div class="col-md-9">
			<div class="table-responsive">
				<table class="table-bordered table">
					<thead>
						<tr>
							<th>Title</th>
							<th>Image</th>
							<th>Price</th>
							<th>ReviewText</th>
							<th>ReviewRating</th>
						</tr>
					</thead>
					<tbody>
						{% for review in reviews %}
						<tr>
							<td><a href="/product/{{review.product.slug}}/{{review.product.id}}">{{review.product.title}}</a></td>
							<td>
								<img width="100" src="/media/{{review.product.productattribute_set.first.image}}" alt="{{review.product.title}}">
							</td>
							<td>{{review.product.productattribute_set.first.price}}</td>
							<td>{{review.review_text}}</td>
							<td>{{review.review_rating}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
{% endblock %}