{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">{{data.title}}</h3>
	<div class="row">
		<!-- Images -->
		<div class="col-md-4">
			<img id="zoom_01" data-zoom-image="/media/{{data.image}}" src="/media/{{data.image}}" class="card-img-top" alt="{{data.title}}">
		</div>
		<div class="col-md-8">
			<p>{{data.detail}}</p>
			<hr/>
			<table class="table table-bordered">
				<tr>
					<th>Price</th>
					<th>Rs. 299</th>
				</tr>
				<tr>
					<th>Colors</th>
					<td>
						{% for p_attr in data.productattribute_set.all %}
							<button class="btn btn-lg" style="background-color: {{p_attr.color.color_code}}"></button>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>Sizes</th>
					<td>
						{% for p_attr in data.productattribute_set.all %}
						<button class="btn btn-outline-secondary btn-sm">{{p_attr.size.title}}</button>
						{% endfor %}
					</td>
				</tr>
			</table>
			<hr/>
			<div class="input-group my-3" style="width:30%;">
			  <input type="number" class="form-control" />
			  <div class="input-group-append">
			    <button class="btn btn-primary btn-sm" type="button" id="button-addon2"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
			  </div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<h3 class="my-3">Detail</h3>
			<!-- Detail -->
			<table class="table table-bordered">
				<tr>
					<th>Brand</th>
					<td><a href="#">{{data.brand.title}}</a></td>
				</tr>
				<tr>
					<th>Category</th>
					<td><a href="#">{{data.category.title}}</a></td>
				</tr>
				<tr>
					<th>Specification</th>
					<td>{{data.specs}}</td>
				</tr>
			</table>
		</div>
		<!-- Reviews -->
		<div class="col-md-6">
			<h3 class="my-3">Reviews - 4.5/5 <i class="fa fa-star text-warning"></i></h3>
			<div class="card">
				<div class="card-body" style="max-height: 400px; overflow: auto;">
					<!-- Detail -->
					<blockquote class="blockquote text-right">
					  <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</small>
					  <footer class="blockquote-footer">User 
					  	<cite title="Source Title">
					  		<i class="fa fa-star text-warning"></i>
					  		<i class="fa fa-star text-warning"></i>
					  		<i class="fa fa-star text-warning"></i>
					  		<i class="fa fa-star text-warning"></i>
					  	</cite>
					  </footer>
					</blockquote>
					<hr />
				</div>
			</div>
		</div>
	</div>
</main>
<script src="https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.2.3/src/jquery.ez-plus.js"></script>
<script>
    $('#zoom_01').ezPlus();
</script>
{% endblock %}